<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4rrKVV_x63tGXABAcUmGaKeAm_kkLrKo</string>
	<key>GCM_SENDER_ID</key>
	<string>358490150064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.theekshana9.CeylonAyurveda</string>
	<key>PROJECT_ID</key>
	<string>ceylon-ayurveda-notifications</string>
	<key>STORAGE_BUCKET</key>
	<string>ceylon-ayurveda-notifications.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358490150064:ios:eeeb7d50e32f6186b0d775</string>
</dict>
</plist>